#dialog{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    #dialog_box{
        display: flex;
        flex-direction: row;
    }
}

.update_product_detail
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group{
    margin-bottom: 10px;
    input{
        padding: 5px;
        border-radius: 3px;
    }
}

.btn_update{
    button{
 padding: 5px;
    }
   
}