<div class="mainHeader">
    <div class="flex-header">
        <div [routerLink]="['/home']" class="logo">
            <img style="width: 127px;height: 105px;" src="https://file.hstatic.net/1000281824/file/tote-1_33445b051a404bb790b6d0df0275ac8d.png" alt="">
        </div>

        <div class="list">
            <p>Trang chủ</p>
            <p>Sản phẩm</p>
            <p>Store</p>
            <p>Giới thiệu</p>
        </div>

        <div class="search">
            <!-- <mat-icon>search</mat-icon> -->
            <input type="text" placeholder="Tìm kiếm sản phẩm...">
        </div>

        <div class="cart">
            <div class="cartlogo">
                <img [routerLink]="['/cart']" src="../../../assets/images/cart.png" alt="">
            </div>
            <span>Giỏ hàng</span>
            
            <dialog id="dialog" >
                <div class="exit">
                    <span class="material-symbols-outlined">close</span>
                </div>
                <p >Giỏ hàng</p>
                <div class="content-input">
                    <!-- <div class="product-bill">
                        <span>Degrey Simili Tote Matcha - SITOM</span>
                        <span>Số lượng: </span>
                        <span>Giá tiền: </span>
                        <button>xóa</button>
                        <button>sửa</button>
                    </div>
                    <div class="product-bill">
                        <span>Degrey Simili Tote Matcha - SITOM</span>
                        <span>Số lượng: </span>
                        <span>Giá tiền: </span>
                        <button>xóa</button>
                        <button>sửa</button>
                    </div> -->
                </div>
                <hr>    
                <div class="bill-input">
                    <!-- <div class="text-bill">
                        <p>Tổng tiền: </p>
                    </div> -->
                    <!-- <div class="btn-confirm">
                        <button>Đặt hàng</button>
                    </div> -->
                </div>
            </dialog>
        </div>
        <div (click)="toAdmin()" id="admin">
          <!-- <span style="cursor: pointer;" (click)="toAdmin()">admin</span> -->
          <div class="icon_admin">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="admin_panel_settings" ></mat-icon>
          </div>
          <span>Admin</span>
        </div>
        <div id="userLog">
          <div *ngIf="!isUser">
            <span style="cursor: pointer;" (click)="login()">Đăng nhập</span>
          </div>
          <div *ngIf="isUser" id="logout">
            <img [src]="this.user == null ? '':this.user.avatarUrl" (click)="logout()" style="border-radius: 50%;width: 26px;height: 26px;cursor: pointer;" alt="">
            <span style="margin: auto 0;">{{this.user == null ? '':this.user.name}}</span>
            <!-- <span style="cursor: pointer;" (click)="logout()">Đăng xuất</span> -->
          </div>
        </div>
    </div>
</div>

