
footer{
    //width: 100vw;
    height: 505px;
    margin: 30px 0px 0px;
    background-color: #000000;
}

.footer-info{
    /* width: 100vw;
    height: 460px; */
    padding: 40px 0px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-info{
    width: 970px;
    height: 390px;
    display: flex;
    flex-direction: row;
}

.copyright{
    //width: 100vw;
    height: 45px;
}

.address{
    width: 485px;
    height: 343px;
    /* margin: 0px 15px; */
    /* padding: 10px 0px 20px; */
    
}

h4{
    font-size: 18px;
    color: #9B9B9B;
    margin: 20px 0px;
}

.degrey{
    width: 242.5px;
    /* padding: 0px 15px; */
    
}

.degrey > p{
    width: 212px;
    /* height: 246px; */
    color: white;
}

.logo{
    padding: 0px 15px;
}

.footer-logo{
    width: 212px;
}

.footer-logo > img{
    width: 150px;
    height: 57px;
}

.specific-address{
    width: 242.5px;
    color: white;

}

.flex{
    display: flex;
    flex-direction: row;
}

.contact,.contact2,.contact3{
    list-style: none;
   
}

/* .contact > b{
    margin-bottom: 10px;
} */

ul{
    padding: 0 15px;
}

.item{
    color: white;
    margin-bottom: 10px;

}

.item > a{
    color: white;
}

.support {
    width: 242px;
    height: 258px;
    
}

.hline{
    display: flex;
    flex-direction: row;
}

.box-content{
    margin-left: 5px;
}

.social {
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.social > li{
    border: 1px solid white;
    width: 32px;
    height: 32px;
    margin: 0px 0px 0px 5px;
    list-style: none;
    border-radius: 5px;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center ;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-copyright > p{
    width: 940px;
    height: 20px;
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
